n8n_workflows/Bot hentai.json
{
  "name": "Bot hentai",
  "nodes": [
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        -528,
        352
      ],
      "id": "003ef530-b120-4110-a1c8-411f15e42d00",
      "name": "Telegram Trigger",
      "webhookId": "79fec605-6598-4d32-9621-2c0386ca9a7d",
      "credentials": {
        "telegramApi": {
          "id": "tc6zVCfeSCUOyEqr",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "url": "https://wholesomelist.com/api/random",
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        96,
        128
      ],
      "id": "65950d13-6c91-40b3-ab1b-d278d4d0b80c",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "jsCode": "// Pega o objeto principal do JSON (caso venha em array)\nconst data = Array.isArray($json) ? $json[0] : $json;\n\n// Garante que o campo entry existe\nif (!data.entry || !data.entry.eh) {\n  console.log(\"JSON recebido:\", data);\n  return [{ error: \"Campo 'entry.eh' não encontrado.\" }];\n}\n\n// URL completa da galeria\nconst url = data.entry.eh;\n\n// Divide a URL para extrair gid e token\n// Exemplo de URL: https://e-hentai.org/g/2040616/ef27104c2f\nconst parts = url.split(\"/\");\nconst gid = parts[4];\nconst token = parts[5];\n\n// Retorna os dados prontos\nreturn [{\n  gid,\n  token,\n  title: data.entry.title || \"Sem título\",\n  thumb: data.entry.im || null,\n  link: url\n}];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        304,
        320
      ],
      "id": "d9747705-6096-4554-b779-be9091bac839",
      "name": "Code in JavaScript1"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.e-hentai.org/api.php",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"method\": \"gdata\",\n  \"gidlist\": [\n    [{{$json[\"gid\"]}}, \"{{$json[\"token\"]}}\"]\n  ],\n  \"namespace\": 1\n}\n",
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        544,
        320
      ],
      "id": "2124cf69-2eec-49c0-a366-29afa91b1332",
      "name": "HTTP Request1"
    },
    {
      "parameters": {
        "operation": "sendPhoto",
        "chatId": "={{$node[\"Telegram Trigger\"].json[\"message\"][\"chat\"][\"id\"]}}",
        "file": "={{$json[\"gmetadata\"][0][\"thumb\"]}}",
        "additionalFields": {
          "caption": "=🖼️ {{$json[\"gmetadata\"][0][\"title\"]}}\n\n🌍{{\n  $json[\"gmetadata\"][0][\"tags\"].filter(t => t.startsWith(\"language:\")).join(\", \") || \"desconhecido\"\n}}\n\n🔗 Link: {{ $('Code in JavaScript1').item.json.link }}"
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        816,
        320
      ],
      "id": "72cbf52c-3e98-4ead-94e3-63819fa0b578",
      "name": "Send a photo message",
      "webhookId": "516cd48d-74bc-427e-96e2-6ffc3928187c",
      "credentials": {
        "telegramApi": {
          "id": "tc6zVCfeSCUOyEqr",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Pega o primeiro item, caso seja array\nconst item = Array.isArray($json) ? $json[0] : $json;\n\n// Pega o texto da mensagem\nconst text = item?.message?.text || \"\";\n\n// Pega o chat_id\nconst chat_id = item?.message?.chat?.id;\n\nif (!chat_id) {\n  return [{ error: \"Não foi possível encontrar chat_id.\" }];\n}\n\n// Verifica se o comando é /hentai\nif (text.startsWith(\"/hentai\")) {\n  return [{\n    chat_id,\n    valid_command: true\n  }];\n} else {\n  return [{\n    chat_id,\n    invalid_command: true\n  }];\n}\n\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -304,
        352
      ],
      "id": "da901657-0620-4161-964e-acb614362a37",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "28b676e3-e210-4b69-829c-4f21b5c2a6bf",
              "leftValue": "={{$json[\"valid_command\"]}}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -96,
        352
      ],
      "id": "0675afdc-7fc7-41e3-bae1-cb0ee3a55e50",
      "name": "If"
    },
    {
      "parameters": {
        "chatId": "={{$node[\"Telegram Trigger\"].json[\"message\"][\"chat\"][\"id\"]}}",
        "text": "⚠️ Comando inválido! Para obter um hentai, use: /hentai",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        208,
        608
      ],
      "id": "d848ec92-2b67-4621-840a-a243d0dd78dd",
      "name": "Send a text message",
      "webhookId": "4a8a11c9-0cac-4b7e-89e2-0e535d73bdd3",
      "credentials": {
        "telegramApi": {
          "id": "tc6zVCfeSCUOyEqr",
          "name": "Telegram account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Code in JavaScript1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript1": {
      "main": [
        [
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request1": {
      "main": [
        [
          {
            "node": "Send a photo message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "199f678b-5134-4cbc-bef6-5266f24ee64b",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "34f5520845cc2326fd63a83e2d30d7a008bf83fa4fae7135c0c56dd51d6f0a0b"
  },
  "id": "3b7fxlP2O5LczHeU",
  "tags": []
}