n8n_workflows/killuaBot.json
{
  "name": "Kilua-Bot",
  "nodes": [
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        0,
        0
      ],
      "id": "9c79f842-1973-42aa-a962-cc51471bbcd4",
      "name": "Telegram Trigger",
      "webhookId": "907451d0-652c-40ba-8731-bceb86c02cd0",
      "credentials": {
        "telegramApi": {
          "id": "EaJae9Jvb3CBIH07",
          "name": "Kilua"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Pegar o JSON da primeira entrada (padrão do Telegram Trigger)\nconst input = items[0] && items[0].json ? items[0].json : { message: { text: \"\", chat: { id: null } } };\n\nconst mensagem = (input.message && input.message.text) ? input.message.text.trim() : \"\";\nconst chat_id = (input.message && input.message.chat && input.message.chat.id) ? input.message.chat.id : null;\n\nconst comandosBasicos = [\"/menu\", \"/help\", \"/genclass\", \"/genflow\", \"/gencase\"];\n\n// --- LÓGICA DE PARSING ---\nconst isComando = mensagem.startsWith(\"/\");\nconst partes = mensagem.split(' ');\nconst comandoRecebido = partes[0].toLowerCase(); // Convertendo para minúsculo para evitar erros\n\n// --- NOVA LÓGICA DE DETECÇÃO DE FERRAMENTA ---\nlet ferramenta = 'mermaid'; // Padrão\nlet inicioDescricao = 1; // Começa a ler a descrição após o comando (palavra índice 1)\n\n// Se a mensagem tiver mais de uma palavra E a segunda palavra for uma ferramenta conhecida\nif (partes.length > 1 && (partes[1].toLowerCase() === 'plantuml' || partes[1].toLowerCase() === 'mermaid')) {\n    ferramenta = partes[1].toLowerCase();\n    inicioDescricao = 2; // A descrição agora começa depois da ferramenta (palavra índice 2)\n}\n\n// Reconstrói a descrição a partir do ponto correto\nconst descricao = partes.slice(inicioDescricao).join(' ');\n\n// Verifica se o comando recebido está na nossa lista\nconst isValido = comandosBasicos.includes(comandoRecebido);\n// -------------------------\n\n// Retorna o objeto JSON limpo para os próximos nós\nreturn [\n  {\n    json: {\n      chat_id: chat_id,\n      mensagemCompleta: mensagem,\n      isComando: isComando,\n      isValido: isValido,\n      comando: comandoRecebido,\n      ferramenta: ferramenta,\n      descricao: descricao\n    }\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        208,
        0
      ],
      "id": "dfd704ca-f046-4dc8-89a0-676378ff7db3",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "c19fa04d-eb3e-4098-acff-88d05a6b7b45",
              "leftValue": "={{ $json.isValido }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        416,
        0
      ],
      "id": "6004e6c6-4896-42c2-a019-ce725c86d5e3",
      "name": "If"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('Code in JavaScript').item.json.comando }}",
                    "rightValue": "/menu",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "b8f06c2e-c56c-45d2-9f7a-f38d772aee75"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "fa3a8430-b7d4-4bdc-aaf3-5e6f8a9e140e",
                    "leftValue": "={{ $('Code in JavaScript').item.json.comando }}",
                    "rightValue": "/genclass",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "c38f80ed-669e-4654-ab45-d98114108147",
                    "leftValue": "={{ $('Code in JavaScript').item.json.comando }}",
                    "rightValue": "/genflow",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "a2715d5e-b762-4de5-9ffc-c70b5b6483ec",
                    "leftValue": "={{ $('Code in JavaScript').item.json.comando }}",
                    "rightValue": "/gencase",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "0e5bd4b4-ad67-45b1-bd94-58e517c7c79a",
                    "leftValue": "={{ $('Code in JavaScript').item.json.comando }}",
                    "rightValue": "/help",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.3,
      "position": [
        592,
        -336
      ],
      "id": "15cb6efc-8988-4613-b834-0eea8e75fabf",
      "name": "Switch"
    },
    {
      "parameters": {
        "chatId": "={{ $json.chat_id }}",
        "text": "=_👋 Ei! Eu sou o Kilua,_ seu parceiro de automação de diagramas UML.\n\nMeu trabalho é simples: você me descreve um sistema (ou cola seu código, se preferir), e eu cuido de transformar tudo isso num diagrama bonitinho pra você. 😎 \n\n_🧠 Como eu funciono:_\nBasta usar um dos meus comandos e enviar a descrição na mesma mensagem. Eu analiso o conteúdo e gero automaticamente o tipo de diagrama correspondente.\n\n*Exemplo:*\n`/genClass Um sistema de login com as classes Usuário e Admin.`\n\n_❗ Opções Avançadas:_\nPor padrão, uso Mermaid.js. Se preferir PlantUML, digite \"plantuml\" logo após o comando.\n\n*Exemplo:*\n`/genClasses plantuml Um sistema de login...`\n\n---------------------------------------------------\n*❄️ Meus comandos:*  \n\n❄️ /genClass Cria um Diagrama de Classes a partir da sua descrição. Mostra classes, atributos, métodos e relações entre elas.\n\n❄️ /genFlow Gera um Diagrama de Atividades exibindo o fluxo de ações e decisões do sistema. Ideal pra representar processos como login, cadastro ou compra.  \n❄️ /genCase Produz um Diagrama de Casos de Uso, mostrando atores e interações com o sistema. Perfeito pra demonstrar o que cada tipo de usuário pode fazer.\n\n❄️ /menu Mostra um resumo rápido de todos os comandos.\n\n❄️ /help Exibe este guia completo com explicações e exemplos.\n\n---------------------------------------------------\n*💡 Dica:* Se preferir, você também pode colar o seu código logo após o comando, eu identifico as classes e relações automaticamente!  Quanto mais detalhada for a sua descrição, mais preciso será o diagrama.  \n\n---------------------------------------------------\n\nAgora bora criar uns diagramas insanos juntos? 😏❄️",
        "additionalFields": {
          "parse_mode": "Markdown"
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        848,
        32
      ],
      "id": "842600da-7a1a-4c7a-a3dd-c952ddd7f83e",
      "name": "/help",
      "webhookId": "b3c3ea50-3d6d-485c-a9ed-37d17db5c892",
      "credentials": {
        "telegramApi": {
          "id": "EaJae9Jvb3CBIH07",
          "name": "Kilua"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $json.chat_id }}",
        "text": "=*👋 E aí! Eu sou o Kilua* , seu parceiro de automação de diagramas UML. \nMe conta o que você quer criar e eu cuido do resto. \n\n*Esses são meus comandos:* \n\n❄️ /menu\n❄️ /genClass \n❄️ /genFlow\n❄️ /genCase\n❄️ /help \n\n*⚠️ Se é a primeira vez usando recomendo dar um \"/help\" para ficar por dentro.* \n---------------------------------------------------",
        "additionalFields": {
          "parse_mode": "Markdown"
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        848,
        -560
      ],
      "id": "57d5bca1-8930-4157-8e44-e83363953533",
      "name": "/menu",
      "webhookId": "73144d05-f4a8-4f8c-9c82-2353e27a437f",
      "credentials": {
        "telegramApi": {
          "id": "EaJae9Jvb3CBIH07",
          "name": "Kilua"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $json.chat_id }}",
        "text": "=🤖 Opa! Não reconheci esse comando.  Digite /menu para ver todos os comandos disponíveis.",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        720,
        336
      ],
      "id": "e04b3530-49bd-4d32-9622-153f8a295369",
      "name": "escape",
      "webhookId": "dfabc610-9589-4a44-9495-1f58f03eb270",
      "credentials": {
        "telegramApi": {
          "id": "EaJae9Jvb3CBIH07",
          "name": "Kilua"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "d58cd0b2-5e2b-4223-b705-d06b4bae4929",
              "name": "=prompt_ia",
              "value": "=`Você é um especialista em Engenharia de Software. Gere o código para o diagrama solicitado.\n\n> ENTRADA:\nTipo: {{ $json.comando }}\nFerramenta: {{ $json.ferramenta }}\nDescrição: {{ $json.descricao }}\n\n> REGRAS CRÍTICAS DE SAÍDA:\n1. Sua resposta deve conter APENAS o código puro. NADA MAIS.\n2. NÃO use blocos de markdown (\\`\\`\\`).\n3. NÃO escreva \"Aqui está o diagrama:\". Comece imediatamente com o código.\n\n> EXEMPLO DE SAÍDA ESPERADA PARA{{ $json.ferramenta.toUpperCase() }}:\n\n{{ $json.ferramenta === 'mermaid' ? 'graph TD\\nA[Cliente] -->|faz pedido| B(Sistema)\\nB --> C{Valido?}\\nC -->|Sim| D[Processar]\\nC -->|Nao| E[Rejeitar]' : '@startuml\\nactor Cliente\\nparticipant \"Sistema\" as S\\nCliente -> S: Fazer Pedido\\nS --> Cliente: Confirmar\\n@enduml'}}\n\n> SUA RESPOSTA (Apenas o código puro):`",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        848,
        -288
      ],
      "id": "a3b239b4-9056-47aa-a3aa-dadce306af9f",
      "name": "Comandos"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "models/gemini-2.5-pro",
          "mode": "list",
          "cachedResultName": "models/gemini-2.5-pro"
        },
        "messages": {
          "values": [
            {
              "content": "={{ $json.prompt_ia }}"
            }
          ]
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1,
      "position": [
        1168,
        -32
      ],
      "id": "ebd518c0-174a-41e5-9f56-8975fd40d821",
      "name": "Message a model",
      "credentials": {
        "googlePalmApi": {
          "id": "fZiSL2T7A9jRzdfG",
          "name": "kilua Api"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('Code in JavaScript').item.json.ferramenta }}",
                    "rightValue": "mermaid",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "e6599fcd-5156-4db9-830a-1aecb0d4be1c"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "4d70fb0c-0d44-42e0-b37f-35d9355a46d8",
                    "leftValue": "={{ $('Code in JavaScript').item.json.ferramenta }}",
                    "rightValue": "plantuml",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.3,
      "position": [
        1520,
        -32
      ],
      "id": "499ee0ba-8689-4f3c-b96c-bca9497885f1",
      "name": "Switch1"
    },
    {
      "parameters": {
        "url": "={{ $json.url_imagem }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "file"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2080,
        -304
      ],
      "id": "c6dcdc3e-8474-470f-b0a7-55e0defac4ae",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "jsCode": "// Pega o texto do diagrama que veio do Gemini\n// Ajuste 'Switch1' se o nome do seu nó anterior for diferente\nconst diagrama = items[0].json.content.parts[0].text;\n\n// Converte para Base64 (exigido pelo mermaid.ink)\nconst encoded = Buffer.from(diagrama).toString('base64');\n\n// Retorna a URL pronta para o próximo nó usar\nreturn [{\n    json: {\n        url_imagem: `https://mermaid.ink/img/${encoded}`\n    }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1792,
        -304
      ],
      "id": "6ee0e675-b867-490c-a6e6-a62811abf190",
      "name": "Transforming in url mermaid"
    },
    {
      "parameters": {
        "jsCode": "// Pega o texto do diagrama que veio do Gemini\nconst diagrama = items[0].json.content.parts[0].text;\n\n// TRUQUE DE MESTRE: Converte para HEX (Hexadecimal)\n// O PlantUML aceita isso se colocarmos '~h' na frente depois.\nconst encoded = Buffer.from(diagrama).toString('hex');\n\nreturn [{\n    json: {\n        // Monta a URL final usando o servidor oficial e o prefixo ~h\n        url_imagem: `http://www.plantuml.com/plantuml/png/~h${encoded}`\n    }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1792,
        288
      ],
      "id": "a58720a2-6966-40b5-a963-639829551a12",
      "name": "transforming url plantuml"
    },
    {
      "parameters": {
        "url": "={{ $json.url_imagem }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "file"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2096,
        288
      ],
      "id": "652c024b-f24a-46cc-9133-5687a401c7f9",
      "name": "HTTP Request1"
    },
    {
      "parameters": {
        "operation": "sendPhoto",
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "binaryData": true,
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        2416,
        32
      ],
      "id": "da8dd69b-37c0-46a1-8577-a1898276fd25",
      "name": "Send a photo message",
      "webhookId": "e3f22a70-820a-4e20-87e0-1827822e1854",
      "credentials": {
        "telegramApi": {
          "id": "EaJae9Jvb3CBIH07",
          "name": "Kilua"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "escape",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "/menu",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Comandos",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Comandos",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Comandos",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "/help",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Comandos": {
      "main": [
        [
          {
            "node": "Message a model",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Message a model": {
      "main": [
        [
          {
            "node": "Switch1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch1": {
      "main": [
        [
          {
            "node": "Transforming in url mermaid",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "transforming url plantuml",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Send a photo message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Transforming in url mermaid": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "transforming url plantuml": {
      "main": [
        [
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request1": {
      "main": [
        [
          {
            "node": "Send a photo message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "c0aa2c84-7741-4e21-9000-50e6d7674dd3",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "34f5520845cc2326fd63a83e2d30d7a008bf83fa4fae7135c0c56dd51d6f0a0b"
  },
  "id": "PduZ08m5dlclTgU1",
  "tags": []
}